html, body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    }

    form {
    border: 5px solid #e4e0e096;
    width: 400px;
   
    }

    input[type=text] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }

    .form-rapper{
        width: 100%;
    }

   #Save{
    background-color: #3f09bb;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }

    h1 {
    text-align:center;
    fone-size:18;
    }

    #Save:hover {
    opacity: 0.8;
    }

   

  