body
{
  background-color:#faf2f2;
}

.container
{
  background-color:white;
  border:2px solid #800000;
  display:block;
  margin:auto;
  width: 20%;
  min-width: 50%;
}

h2, #numberText
{
  font-family:arial;
  text-align:center;
}
#numberText, #calculate, label
{
  font-family:arial;
}

.buttonDiv
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#calculate
{
  background-color:#0000;
  color: black; 
  border: 2px solid #800000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
label
{
  margin-left: 20px;
  font-weight:bold;
}

